@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-light-blue: #4d768a;
  --color-sky-blue: #EBF4F7;
  --color-deep-blue: #2f576a;
  --color-grey-blue: #6A95B0;
  --color-white: #fcfcfc;
  --color-green: #239c7b;
  --color-deep-green: #216351;
  --color-gray: #bfbfbf;
}
